img.folio-image {
  display: block;

}

#folio a.folio-image {
  border:none;
}

a.folio-image-wrapper {
	display:block;
  border-bottom: none;
  margin: 0 auto;	
  .rounded-image-border;
	&:hover {
	  .rounded-image-border-hover;		
	}
	.folio-image {
		height:120px;
		width:120px;
		display:block;
		background-position: 0 0;
		background-repeat: no-repeat;
		&.faces {
			background:url('/img/portfolio/tn/faces.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.survstar {
			background:url('/img/portfolio/tn/survstar.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.the_art_of_juggling {
			background:url('/img/portfolio/tn/the_art_of_juggling.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.babushka_family {
			background:url('/img/portfolio/tn/babushka_family.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.owls {
			background:url('/img/portfolio/tn/owls.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.dlimiter_brand_stamp {
			background:url('/img/portfolio/tn/dlimiter_brand_stamp.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.this_book_belongs_to {
			background:url('/img/portfolio/tn/this_book_belongs_to.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.seas_the_day {
			background:url('/img/portfolio/tn/seas_the_day.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.bunnies {
			background:url('/img/portfolio/tn/bunnies.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}		
		&.social_icons {
			background:url('/img/portfolio/tn/social_icons.png');
			&:hover {
				background-position: 0 -170px;						
			}
		}	
	}
}

.folio-item {
  float:left;
  margin:5px 10px 5px 0;
  padding:0;
}